@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Rubik', sans-serif;
}

body {
    background: url('bg3.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container {
    width: 40%;
    position: absolute;
    top: 30%;
    left: 36%;
}

.container h1 {
    width: 70%;
    display: inline-block;
    font-size: 50px;
    padding: 8px 0px 2px 1px;
    margin-bottom: 18px;
    border-bottom: 5px solid purple;
}

.box {
    width: 100%;
    margin: 15px 0px;
    border-bottom: 2px solid purple;

}

.box input {
    background: none;
    width: 85%;
    padding: 8px 0px;
    padding-bottom: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    margin: 4px 0px;

}

.btn {
    
    color: white;
    background: none;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid rgb(63, 60, 60);
    cursor: pointer;
}

.btn:hover {
    color: purple;
    background: rgb(230, 220, 220);
}

.box i {
    display:inline;
    padding: 0;
    text-align: center;
    width: 25px;
    padding: 0px 12px;
}

@media (max-width:768px){

    .container {
        width: 65%;
        position: absolute;
        top: 25%;
        left: 22%
    }

    .container h1{
        width: 70%;
    display: inline-block;
    font-size: 90px;
    padding: 17px 3px 12px 5px;
    margin-bottom: 27px;
    border-bottom: 9px solid purple;
    }
    .btn:hover {
        color: rgb(0, 128, 85);
        background: rgb(228, 110, 110);
    }

    
.box input {
    background: none;
    width: 85%;
    padding: 8px 0px;
    padding-bottom: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    margin: 4px 0px;

}
.box{
    width: 93%;
    margin: 34px 2px;
    border-bottom: 4px solid purple;
}
.box input {
    background: none;
    width: 90%;
    padding: 8px 0px;
    padding-bottom: 10px;
    font-size: 31px;
    border: none;
    outline: none;
    color: white;
    margin: 4px 0px;
}

}